In [1]:
#13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [2]:
S1.intersection(S2)

{True}

In [3]:
S2.intersection(S1)

{True}

In [4]:
common = S1.intersection(S2)
print(common)

{True}

In [11]:
#14. Input a list from the user then Remove duplicates from a list and create a set and find the max
#number. User_input = [1,9,3,4,5,200,54]
li = [ ]
n = int(input("enter your total index:"))
for i in range(n):
    new = input()
    li.append(new)
print(li)

enter your total index:7
1
9
3
4
5
200
54
['1', '9', '3', '4', '5', '200', '54']

In [12]:
li

['1', '9', '3', '4', '5', '200', '54']

In [13]:
li.append(9)

In [14]:
li

['1', '9', '3', '4', '5', '200', '54', 9]

In [15]:
li.remove(9)

In [16]:
li

['1', '9', '3', '4', '5', '200', '54']

In [18]:
set1 = set(li)
print(set1)

{'1', '54', '9', '3', '4', '200', '5'}

In [29]:
li

['1', '9', '3', '4', '5', '200', '54']

In [37]:
type(li)

list

In [4]:
#15. Rename the key of a dictionary.
#Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
#Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [5]:
dic = { "name": "Shakil", "age": 27, "city":" Berlin", "country": "Germany" }

In [6]:
dic.update({"region" : "Germany"})

In [47]:
dic1 = {"name":"shakil","age": 27,"city":"Barlin","country":"Germany"}

In [48]:
dic1.update({"region":"Germany"})

In [49]:
dic1

{'name': 'shakil',
 'age': 27,
 'city': 'Barlin',
 'country': 'Germany',
 'region': 'Germany'}

In [51]:
#17. Change the value of a key in a given dictionary.
#Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

In [52]:
Dict["age"] = 28

In [53]:
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}

In [ ]:
#16. Creating a data frame using the list.
#num = [10,100,300] (column name is number)

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
num = [10,100,300]
df = pd.DataFrame(num,columns = ["number"])

In [3]:
df

   number
0      10
1     100
2     300

In [8]:
#find max
li = ['1', '9', '3', '4', '5', '200', '54']

In [9]:
li

['1', '9', '3', '4', '5', '200', '54']

In [10]:
print(max(li))

9